.prediction-card-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-right: 150px;
    margin-left: 150px;
}