.prediction-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 220px;
    /* background-color: #1d1d1d;
    color: rgb(227, 249,248); */
    color: #1d1d1d;
    /*background-color: #bbbbbb;*/
    /* background-color: #e0e0e0;
    border: solid 1px #1d1d1d; */
    font-family: Copperplate;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Helvetica;
    border: solid 1px white;
}

.prediction-card:hover {
    cursor: pointer;
    /* color: #1d1d1d;
    background-color: #bbbbbb; */
    /* background-color: #1d1d1d;
    color: rgb(227, 249,248);  */
    background-color: #f0efef;
    border: solid 1px #1d1d1d;
}

.prediction-card__sport {
    display: flex;
    font-weight: 700;
}

.prediction-card__team-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prediction-card__team-percents {
    display: flex;
    justify-content: space-between;
    
    font-size: 14px;
}

.prediction-card__team-predictions {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(157 246 253);
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.team-one {
    height: 20px;
    background-color: rgb(41,180,233);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: solid 2px rgb(157 246 253);
}

.team-two {
    height: 20px;
    background-color: rgb(180,40,46);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.prediction-card__team-names__team-one {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: left;
}

.prediction-card__team-names__team-two {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: right;
}

.prediction-card__team-percents__team-one {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    text-align: left;
}

.prediction-card__team-percents__team-two {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    text-align: right;
}